		<ul>
          <li><a href="#" class="menu">Home</a></li>
          <li><a href="/customers" class="menu">Members</a></li>
          <li><a href="http://localhost:3000/spree/" class="menu">Shop</a></li>
          <li>
          	<% if user_signed_in? %>
  			<li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
  			</li>
			<% else %>
  			<li>
  			<%= link_to('Login', new_user_session_path)  %>  
  			</li>
			<% end %>
          </li>
          <li><a href="/contacts/new" class="menu">Contact</a></li>
        </ul>