<div id="leftheading">
          <h4>News &amp; Updates</h4>
        </div>
        <div class="lefttxtblank">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt">Pulvinar interdum ...</div>
            <div class="lefttxt">By Jack Son  | 11:55 AM</div>
          </div>
          <div class="leftnormaltxt">Etiam auctor nisl adipiscing sem.  erat urna fringilla sit ametvestibulum.</div>
          <div class="morebutton"><a href="#" class="more">read more... </a></div>
        </div>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt">Aulvinar gnterdum ...</div>
            <div class="lefttxt">By Jack Son  | 11:55 AM</div>
          </div>
          <div class="leftnormaltxt">Stiam auctor nisl adipiscing sem.  erat urna fringilla sit ametvestibulum.</div>
          <div class="morebutton"><a href="#" class="more">read more... </a></div>
        </div>
        <div class="lefttxtblank02">
          <div class="lefticon">16</div>
          <div class="leftboldtxtblank">
            <div class="leftboldtxt">Qulvinar snterdum ...</div>
            <div class="lefttxt">By Jack Son  | 11:55 AM</div>
          </div>
          <div class="leftnormaltxt">Etiam auctor nisl adipiscing sem.  erat urna fringilla sit ametvestibulum.</div>
          <div class="morebutton"><a href="#" class="more">read more... </a></div>
        </div>