<div id="leftnav">
          <ul>
            <li><a href="#" class="leftnav">Mauris neque egestas justo </a></li>
            <li><a href="#" class="leftnav">Neque eros a nequestibulum </a></li>
            <li><a href="#" class="leftnav">Primis in faucibus orci luctus </a></li>
            <li><a href="#" class="leftnav">Posuere cubilia Curae </a></li>
            <li><a href="#" class="leftnav">Ulla risus risus sagittis in </a></li>
            <li><a href="#" class="leftnav">Lobortis sed tincidunt at est.</a></li>
            <li><a href="#" class="leftnav">Donec posuere egestas ipsum</a></li>
            <li><a href="#" class="leftnav">Cras ac magna vel justo </a></li>
            <li><a href="#" class="leftnav">Sollicitudin viverra. </a></li>
            <li><a href="#" class="leftnav">Nullam elementum nibh ut </a></li>
          </ul>
        </div>